html, body{
    font-family:"Baskerville"; font-weight: lighter;
    font-color:#222;
}
#title{
    font-size:24px;
    letter-spacing:2px;
    padding:20px;
    
}
#key{
    padding:20px;
    position:fixed;
left:10px;
top:80px;
    background-color:#fff;
    z-index:999;
}
#main{
    position:fixed;
    left:20px;
    top:60px;
}
#bar{
    position:fixed;
    left:1300px;
    top:60px; 
}
#caption{
    padding:20px;
    position:fixed;
right:600px;
top:40px;
}